/* h1 {
    color: red;
} */
h1 {
    font-weight: 700;
    text-decoration: underline;
  }
  p {
    font-size: 15px;
    background-color: beige;
  }
  span {
    color: rgb(159, 87, 0);
  }
  .container {
    box-shadow: 1px 10px 10px
      rgba(rgb(0, 205, 0), rgb(0, 255, 0), rgb(0, 255, 110), alpha);
  }
  #judul1 {
    color: red;
  }
  #judul2 {
    color: red;
  }
  .content {
    background-color: cornflowerblue;
  }
  
  .container2 .content {
    background-color: brown;
  }
  .box {
    background-color: aqua;
    width: 100px;
    height: 50px;
  }
  .box a {
    font-size: 20px;
  }
  .box:hover {
    background-color: rgb(0, 135, 135);
  }
  .box a:hover {
    color: black;
  }